@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }
  body {
    background-color: #FAFAF8;
    color: #080808;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
